#contact-heading{
    font-size: 5vw;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4vh;
}

#contact-section{
    height: auto;
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;
}

#email-button{
    position: absolute;
    width: 13%;
    height: 7vh;
}

#phone-button{
    position: absolute;
    width: 13%;
    height: 7vh;
}

#main-content{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.buttons span{
    font-size: 0.7rem;
}

.card {
    width: 40%;
    background-color: rgba(240, 248, 255, 0.334);
    height: 40vh;  
    padding: 2vw;
    border-radius: 20px;
}

.card p {
    font-size: 0.9rem;
}

.card h2{
    font-size: 2rem;
}

#footer{
    position: relative;
    bottom: 0;
    border-top: solid;
    padding-top: 2vh;
    height: 7vh;
    margin-top: 9vh;
    width: 92%;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #contact-section {
        flex-direction: column;
    }
    .card {
        width: 88%;
    }
}