body {
    background-color: #b0d0d3;
    margin-top: 0;    
    cursor: none; 
}

#cursor-circle{
    width: 100%;
    height: 100%;
  }
  
:root {
    --cursor-size: 28px;
    --bg: #e05d29;
}

#cursor {
    position: fixed;
    top: calc(var(--cursor-size) * -0.5);
    left:  calc(var(--cursor-size) * -0.5);
    pointer-events: none;
    mix-blend-mode: difference;  
    filter: url(#goo);
    z-index: 10000;
}

.cursor-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--cursor-size);
    height: var(--cursor-size);
    border-radius: var(--cursor-size);
    background: var(--bg);
    transform-origin: center center;
}


.goo {
    display: none;
}                
    
.buttons {
    border: none;
    position: relative; 
    overflow: hidden;
    background-color: #939393; 
    color: black; 
    transition: color 0.5s ease;
    display: inline-block;
}

.buttons::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffffff, #c5bdbd); 
    transform: translateX(-100%); 
    transition: transform 0.5s ease; 
    z-index: 0; 
}

.buttons:hover::before {
    transform: translateX(0);
}

.buttons:hover {
    color: rgb(0, 0, 0);
    cursor: pointer; 
    background-color: #919191; 
    z-index: 1; 
}

.buttons span {
    position: relative;
    z-index: 1; 
    font-size: 0.9vw; 
}


::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #b0d0d3, #203537, #b0d0d3); 
    border-radius: 10px; 
}

body {
    font-family: 'DM Sans', sans-serif;
}