#main-heading {
    color: #000000;
    font-size: 13vw; /* Scales dynamically with the viewport width */
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column; /* Stack the main heading and secondary text vertically */
    align-items: center;
    justify-content: center;

}

#text-container {
    display: flex; /* Aligns pre-text, js-container, and post-text horizontally */
    align-items: center;
    gap: 1vw;
}

#js-container {
    width: 8vw; /* Dynamically adjust size */
    height: 8vw; /* Keep it square */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
}

body {
    overflow-x: hidden;
    margin-top: 8vh;
}

#hero {
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bg {
    width: 100%;
    height: 100%;
}

#secondary-text {
    display: block; /* Ensure that 'the world' is on the next line */
}


@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
   
}


main{
    height: 80vh;
    width: 100vw;
    position: relative;
    left: 0;
    justify-content: center;
}


#main-content{
    position: relative;
    margin-top: 12vh;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#vision-section{
    padding-top: 25vh;
    width: 80vw;
    position: relative;
    margin-left: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

#vision-section h2{
    font-size: 12vw;
    text-align: center;
    color: rgb(178 178 178);
    mix-blend-mode: difference;
    margin-top: 0;
    margin-bottom: 0;
}

#vision-section p{
    font-size: 1.7vw;
    padding: 1vw;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
}

#globe-image{
    aspect-ratio: 600 / 900;
    width: 22vw;
    position: absolute;
    left: 15vw;
    z-index: -5;
    transition: all 0.5s ease;
}

#why-section{
    margin-top: 19vh;
    display: flex;
    width: 80vw;
    flex-direction: column;
    position: relative;
    margin-left: 0vw;
    transition: all 0.5s ease;
}

#why-section h2{
    font-size: 12vw;
    color: rgb(178 178 178);
    mix-blend-mode: difference;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s ease;
}

#why-section p {
    font-size: 1.7vw;
    padding-top: 0vw;
    margin-top: 0;
    text-align: center;
    transition: all 0.5s ease;
    width: 54vw;
    opacity: 0;
    position: relative;
    padding-left: 23vw;
}

#question-image{
    aspect-ratio: 600 / 899;
    width: 20vw;
    z-index: -5;
    position: absolute;
    left: 34vw;
    top: 12vh;
    transition: all 0.5s ease;
}

#scroll-text{
    position: relative;
    bottom: 10vh;
    transition: all 0.5s ease;
}

#do-section{
    border-top: solid;
    padding-top: 25vh;
    margin-top: 0vh;
    display: flex;
    width: 80vw;
    flex-direction: column;
    position: relative;
    margin-left: 0vw;
    transition: all 0.5s ease;
}

#do-section h2{
    font-size: 12vw;
    color: rgb(178 178 178);
    mix-blend-mode: difference;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s ease;
}

#do-section p {
    font-size: 1.7vw;
    padding-top: 0vw;
    margin-top: 0;
    text-align: center;
    transition: all 0.5s ease;
    width: 54vw;
    opacity: 0;
    padding-left: 23vw;
    position: absolute;
    bottom: 1vh;
}

#city-image{
    aspect-ratio: 600 / 899;
    width: 20vw;
    z-index: -5;
    position: absolute;
    left: 34vw;
    z-index: -2;
    top: 28vh;
    transition: all 0.5s ease;
}

#footer{
    border-top: solid;
    padding-top: 2vh;
    height: 12vh;
    margin-top: 35vh;
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}