#main-heading{
    color: #000000;    
    font-size: 14vw;
    text-align: center;
}

#main-heading span{
    margin-left: 5%;
    position: relative;
    top: 80%;
    left: 9.4%;
    padding-bottom: 161%;
}

body{
    overflow-x: hidden;
    padding-top: 9vh;
}

main{
    height: 80vh;
    width: 100vw;
    position: relative;
    left: 0;
    justify-content: center;
}

#hero{
    position: relative;
    top: 0vh;
    height: 80vh;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#bg{
    position: absolute;
    top: 3%;
    right: 65%;
}

#main-content{
    position: relative;
    margin-top: 12vh;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#vision-section{
    padding-top: 25vh;
    width: 80vw;
    position: relative;
    margin-left: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

#vision-section h2{
    font-size: 12vw;
    text-align: center;
    color: rgb(178 178 178);
    mix-blend-mode: difference;
    margin-top: 0;
    margin-bottom: 0;
}

#vision-section p{
    font-size: 1.7vw;
    padding: 1vw;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
}

#globe-image{
    aspect-ratio: 600 / 900;
    width: 22vw;
    position: absolute;
    left: 15vw;
    z-index: -5;
    transition: all 0.5s ease;
}

#why-section{
    margin-top: 19vh;
    display: flex;
    width: 80vw;
    flex-direction: column;
    position: relative;
    margin-left: 0vw;
    transition: all 0.5s ease;
}

#why-section h2{
    font-size: 12vw;
    color: rgb(178 178 178);
    mix-blend-mode: difference;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s ease;
}

#why-section p {
    font-size: 1.7vw;
    padding-top: 0vw;
    margin-top: 0;
    text-align: center;
    transition: all 0.5s ease;
    width: 54vw;
    opacity: 0;
    position: relative;
    padding-left: 23vw;
}

#question-image{
    aspect-ratio: 600 / 899;
    width: 20vw;
    z-index: -5;
    margin-top: 2vh;
    position: absolute;
    left: 34vw;
    transition: all 0.5s ease;
}

#scroll-text{
    position: relative;
    bottom: 10vh;
    transition: all 0.5s ease;
}

#do-section{
    border-top: solid;
    padding-top: 25vh;
    margin-top: 0vh;
    display: flex;
    width: 80vw;
    flex-direction: column;
    position: relative;
    margin-left: 0vw;
    transition: all 0.5s ease;
}

#do-section h2{
    font-size: 12vw;
    color: rgb(178 178 178);
    mix-blend-mode: difference;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s ease;
}

#do-section p {
    font-size: 1.7vw;
    padding-top: 0vw;
    margin-top: 0;
    text-align: center;
    transition: all 0.5s ease;
    width: 54vw;
    opacity: 0;
    padding-left: 23vw;
    position: absolute;
    bottom: 1vh;
}

#city-image{
    aspect-ratio: 600 / 899;
    width: 20vw;
    z-index: -5;
    position: absolute;
    left: 34vw;
    z-index: -2;
    top: 28vh;
    transition: all 0.5s ease;
}

#footer{
    border-top: solid;
    padding-top: 2vh;
    height: 12vh;
    margin-top: 27vh;
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1050px) {
    #main-heading span{
        margin-left: 5%;
        padding-bottom: 136%;
    }
  }

@media screen and (max-width: 965px) {
    #why-section {
        margin-bottom: 13%;
    }
}  

@media screen and (max-width: 905px) {
    #main-heading span{
        margin-left: 5%;
        padding-bottom: 94%;
    }
  }

@media screen and (max-width: 800px) {
    #main-heading span{
        margin-left: 5%;
        padding-bottom: 52%;
    }
  }

  
@media screen and (max-width: 700px) {
    #main-heading span{
        margin-left: 5%;
        padding-bottom: 0%;
    }

    #main-heading{
        margin-top: 4%;
    }
  }

@media screen and (max-width: 570px) {
    #main-heading span{
        margin-left: 5%;
        padding-top: 3%;
    }
}
    

@media screen and (max-width: 480px) {
    #main-heading span{
        margin-left: 5%;
        padding-top: 5%;
    }
  }
    

@media screen and (max-width: 415px) {
  #main-heading span{
      margin-left: 5%;
      padding-top: 7%;
    }
}
    